* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-image: url(img/background%203.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Fira Sans', sans-serif;
	animation: backgroundAnimation 25s infinite;
}

@keyframes backgroundAnimation {
	0% {
		background-image: url(img/background%202.jpg);
	}

	33% {
		background-image: url(img/background%203.jpg);
	}

	66% {
		background-image: url(img/background.jpg);
	}

	100% {
		background-image: url(img/background4.jpg);
	}
}

input {
	height: 40px;
	color: black;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
	background-color: powderblue;
	;
}


#recipe-container {
	background-color: rgba(0, 0, 0, 0.8);
	;
	color: white;
	padding-top: 10px;
	margin: 0;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 100%;

	/* Full width by default */
}




#recipe-query {
	padding: 8px;
	font-size: 16px;
	border-radius: 10px;
	width: 60%;

	color: black;
	/* Adjust the width as needed */
	box-sizing: border-box;
	/* Include padding in the width */
}

#recipe-query::placeholder {
	color: black;
	/* Change to the desired color */
}


.food_title {
	font-size: 18px;
	color: white;
	position: relative;
	top: 10px;
	text-align: center;
	background-color: brown;
	padding: 10px;
	width: 50%;
	border-radius: 0px 0px 20px;
	box-shadow: 0px 0px 2px 0px black;
	font-family: 'Fira Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Signika Negative', sans-serif;
}



.search {
	position: fixed;
	top: 0px;
	background-color: rgba(0, 0, 0, 1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
	width: 100%;
	z-index: 1000;
}





button {
	padding: 6px;
	font-size: 16px;
	position: relative;
	top: 4px;
	background: black;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

ul {
	list-style: none;

	padding: 0;
	margin-top: 65px;
	display: flex;
	flex-wrap: wrap;
	/* Enable wrapping for flex container */
	justify-content: space-around;
	/* Distribute items evenly */
}

li {
	flex: 0 1 calc(30% - 20px);
	/* Three boxes in a row, considering margin */
	margin: 20px;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	/* Include padding in the width */
	background-color: ghostwhite;
	border-radius: 10px;
}



p {
	text-align: justify;
	padding: 10px;
}

.logo {
	width: 100px;
	position: absolute;
	left: 0px;
	top: -10px;
	border: none;
}


img {
	max-width: 100%;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid brown;
	box-shadow: 0px 0px 5px 0px brown;
}

.tags {
	color: gray;
	font-style: italic;
	font-size: 12px;

}

.description {
	color: black;
	font-size: 18px;

}

.calories {
	color: red;
	font-size: 18px;
}

.ingredients {
	color: brown;
	font-size: 15px;
	word-spacing: 1px;
}



.url {
	color: yellow;

	text-decoration: none;
	position: relative;
	float: right;
	bottom: 0px;
	background-color: black;
	padding: 5px 15px 5px;
	border-radius: 50px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 5);
}

a:hover {
	text-decoration: underline;
}


footer {
	position: fixed;
	bottom: 10px;
	right: 85px;
	color: white;
	background-color: black;
	padding: 10px;
	border-radius: 10px;
}

.github a {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: yellow;
	background-color: black;
	padding: 10px;
	border-radius: 10px;

	text-decoration: none;
}


/* Media query for smaller screens (adjust the breakpoint as needed) */

@media only screen and (max-width: 768px) {
	#recipe-query {
		width: 60%;
		position: relative;
		left: 60px;

		/* Full width for mobile */
	}

	button {
		padding: 6px;
		font-size: 16px;
		position: relative;
		top: 4px;
		left: 60px;
		background: black;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}


	.food_title {
		font-size: 18px;
	}

	li {
		flex: 0 1 calc(100% - 20px);
		/* Full width for mobile, considering margin */
	}
}

img/
